name: CI

# run on every push and pull to and from main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend:
    runs-on: ubuntu-latest

    # env vars for ALL backend steps
    env:
      # used by your app/tests + sqlx-cli
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/financetracker
      JWT_SECRET: ci-test-secret

      # compile-time: force sqlx macros to use committed .sqlx metadata
      SQLX_OFFLINE: "true"

    # set up a Postgres container for our integration tests
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: financetracker
        ports:
          - 5432:5432
        # wait for postgres to be ready before running steps
        options: >-
          --health-cmd="pg_isready -U postgres -d financetracker"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      # pull our repo code
      - name: Checkout
        uses: actions/checkout@v4

      # install rust and the components we need
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      # speeds up builds by caching target/ + deps, not required but worth doing
      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      # install sqlx-cli so we can run `cargo sqlx ...`
      - name: Install sqlx-cli
        run: cargo install sqlx-cli --no-default-features --features postgres

      # IMPORTANT: CI database starts empty -> run migrations to create tables
      - name: Run migrations
        run: cargo sqlx migrate run --source backend/migrations

      # ensure the committed .sqlx query cache matches the current SQL queries in code
      # we temporarily disable SQLX_OFFLINE for this check so sqlx-cli can validate against the live DB schema
      - name: Check sqlx cache up to date
        env:
          SQLX_OFFLINE: "false"
        run: cargo sqlx prepare --check -- --all-targets

      # run our tests
      - name: Test
        run: cargo test --all

  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # install Node for our build
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      # install the appropriate dependencies in the frontend
      - name: Install
        working-directory: frontend
        run: npm ci

      # Lint
      - name: Lint
        working-directory: frontend
        run: npm run lint --if-present

      # finally build
      - name: Build
        working-directory: frontend
        run: npm run build
